html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 1em;
}

.section {
	display: flex;
	flex: 1;
	flex-direction: column;
	margin: 0 1em;
	box-sizing: border-box;
	height: 100%;
	min-width: 300px;
	justify-content: space-between;
}

.section.right {
	flex: 2 1;
}

.section > * {
	min-height: auto;
}

.subsection {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	overflow: auto;
}

.subsection.top {
	flex: 1 1 30%;
}

.subsection.bottom {
	flex: 1 1 60%;
}

#cpu_registers {
	display: flex;
	flex-direction: row-reverse;
}

#memory_stack {
	overflow-y: auto;
	min-height: 0;
	flex: 1;
	text-align: right;
	padding: 0.5em;
}

#memory_parent {
	display: flex;
	flex-direction: row-reverse;
	min-height: 0;
	margin-top: auto;
}

#memory {
	min-height: 0;
	min-width: 0;
	overflow: auto;
	flex: 1;
	text-align: right;
	align-self: flex-end;
}

#code {
	display: grid;
	min-width: 200px;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	height: inherit;
}

#code > * {
	grid-column-start: 1;
	grid-row-start: 1;
	display: flex;
	flex-flow: column;
	overflow: auto;
	box-sizing: border-box;
}

#code_input {
	display: block;
	z-index: 2;
	background-color: transparent;
	flex: 1;
	margin: 0;
	resize: none;
	border: black inset 3px;
	vertical-align: bottom;
	white-space: pre;
	width: 100%;
	overflow: auto;
	box-sizing: border-box;
}

#code_backdrop {
	border: transparent inset 3px;
}

#code_highlight {
	margin: 0;
	white-space: pre;
	word-wrap: break-word;
	box-sizing: border-box;
}

#code_highlight > mark {
	display: block;
	width: inherit;
}

.cpu_register {
	cursor: pointer;
}
